
.bag-button{
    background-color: lightgreen;
    border: none;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-left: 15px;
    padding-top: 5px;
    border-radius: 5px;
}
.wishlist-button{
    border-radius: 10px;
    padding: 5px 35px;
    border: 2px solid black;
}